@charset "UTF-8";
/*报名活动  start*/
.sign-container {
  width: 100%;
  background: #99e4f7;
  padding-bottom: 30px; }
  .sign-container .sign-banner {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px; }
    .sign-container .sign-banner img {
      width: 100%;
      height: auto; }
  .sign-container .sign-border-top {
    position: relative;
    height: 19px;
    margin: 0 35px; }
    .sign-container .sign-border-top .sign-border-top1 {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #beebfe;
      position: relative;
      z-index: 3; }
    .sign-container .sign-border-top .sign-border-top2 {
      position: absolute;
      width: 100%;
      content: '';
      background: #003957;
      height: 4px;
      padding: 0 2px;
      left: -2px;
      top: -2px;
      box-sizing: content-box;
      border-radius: 5px;
      z-index: 2; }
    .sign-container .sign-border-top .sign-border-top3 {
      position: absolute;
      width: 100%;
      content: '';
      background: #00aaff;
      height: 12px;
      padding: 0 8px;
      left: -8px;
      top: -6px;
      box-sizing: content-box;
      border-radius: 5px;
      z-index: 1; }
  .sign-container .sign-border-bottom {
    margin: 0 35px; }
    .sign-container .sign-border-bottom img {
      width: 100%;
      height: auto; }
  .sign-container .sign-form {
    margin: 0 35px;
    background: #FFFFFF;
    position: relative; }
    .sign-container .sign-form .fillIn {
      text-align: center;
      padding-top: 14px; }
      .sign-container .sign-form .fillIn img {
        width: 112px;
        height: auto; }
    .sign-container .sign-form:before {
      content: "";
      position: absolute;
      left: -6%;
      top: 3%;
      background: url("../images/signUp/balloon.png");
      background-size: 100% 100%;
      width: 39px;
      height: 48px; }
    .sign-container .sign-form .sign-input {
      font-size: 14px;
      color: #27a9ea;
      text-align: center;
      clear: both;
      box-sizing: border-box;
      margin: 1em 1em; }
      .sign-container .sign-form .sign-input label {
        display: inline-block;
        text-align: left;
        padding: 0;
        height: 35px;
        line-height: 35px; }
        .sign-container .sign-form .sign-input label span {
          display: inline-block;
          width: 1em; }
      .sign-container .sign-form .sign-input input {
        border: 1px solid #6ec6f2;
        border-radius: 3px;
        padding: 0 5px;
        height: 35px;
        line-height: 35px; }
      .sign-container .sign-form .sign-input select {
        border: 1px solid #6ec6f2;
        border-radius: 3px;
        padding: 0 5px;
        height: 35px;
        line-height: 35px; }
      .sign-container .sign-form .sign-input .signTime {
        padding: 0;
        font-size: 14px;
        color: #27a9ea;
        text-align: left; }
        .sign-container .sign-form .sign-input .signTime p {
          text-align: left; }
          .sign-container .sign-form .sign-input .signTime p input {
            float: left;
            height: auto;
            margin-right: 5px; }
    .sign-container .sign-form .sign-btn {
      text-align: center;
      padding-bottom: 15px; }
      .sign-container .sign-form .sign-btn button {
        background: url("../images/signUp/btnBg.png");
        background-size: 100% 100%;
        width: 176px;
        height: 33px;
        margin: 0 auto;
        line-height: 33px;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        color: #FFFFFF; }
